{% extends 'base.html' %}

{% block content %}

<!--Took code for this page from this repository - https://github.com/Code-Institute-Submissions/django-tech-ecommerce-app/tree/master/home/templates-->

<div class="container-fluid parallax"></div>

<section class="mt-5 mb-5 pt-5 pb-5 text-center">
  <div class="container">
    <h1 class="jumbotron-heading">About Yoda Design</h1>
    <p class="lead text-muted">Specialising in design of all things Yoda. Bringing out the force in you.</p>
    <p class="pb-5">Yoda Design is an Ecommerce online store specialising in Yoda Star Wars Design products. We offer users standard ecommerce features, such as viewing products, creating an account, purchasing products and checkout facility, using
      all major credit/debit cards. We offer a seamless online experience, where the user has full control of their shopping cart. We also offer the posibility of customers (users) suggesting and adding their own products ideas, the ones that get
      more votes will be selected to be added to the online store in the future. This would be, of course, dependent on the sales performance of those products. In either scenario, the suggested products will be either assigned, kept or removed at a
      later stage.</p>

    <a href="{% url 'get_suggestions' %}" class="btn btn-dark rounded-0 btn-sm my-2">Send us your product ideas</a>
    <a href="{% url 'products' %}" class="btn btn-dark rounded-0 btn-sm my-2">Buy from our existing product range</a>
    </p>
  </div>
</section>
{% endblock %}