{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_heading %}Login Page{% endblock %} {% block content %}
<p class="loginPg" style="margin-left:20px">If you don't have an account, you can <a href="{% url 'registration' %}">register</a></p>
<form method="POST">
  {% csrf_token %} {{ login_form | as_bootstrap}}
  <button type="submit" class=".btn btn-primary">Login</button>
</form>
<p class="reset" style="margin-left:20px"><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}