{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}<strong>{{ user }}'s</strong> <strong>Profile</strong>{% endblock %} {% block content %}

<div class="profile" style="margin-left:20px; margin-right:20px; background-color:pink">

  <p>{{ profile.email }}</p>
  <h2>Good to see you!</h2><br>
  <p>You are logged in as {{ user.username }} </p><br>
  <p>Your email address is: {{user.email}}</p><br>

  <p>Here are the products you have ordered:</p>

  {{orders.user}}

  {% endblock %}